name: nginx-http-flv-module CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      NGINX_VERSION: nginx-1.26.2

    steps:
    - uses: actions/checkout@v3
    - name: download nginx
      working-directory: ../
      run: wget https://nginx.org/download/${{env.NGINX_VERSION}}.tar.gz
    - name: uncompress nginx
      working-directory: ../
      run: tar zxvf ${{env.NGINX_VERSION}}.tar.gz
    - name: configure (build as a dynamic module)
      working-directory: ../${{env.NGINX_VERSION}}
      run: ./configure --add-dynamic-module=../nginx-http-flv-module
    - name: make
      working-directory: ../${{env.NGINX_VERSION}}
      run: make
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: nginx-http-flv-module
        path: ./
    - name: remove
      working-directory: ../
      run: rm -rf "${{env.NGINX_VERSION}}*"
    
          
